@charset "UTF-8";


.baloon {
  position: relative;
  padding: 20px;
  margin: 0 auto;
  width: 500px;
  background-color: #fad296;
  border: solid 5px #8f5a0a;
  border-radius: 20px;
  box-sizing: border-box;
  line-height: 16px;
}

.baloon:before,
.baloon:after {
  content: "";
  border: solid 20px transparent;
  position: absolute;
  left: 40px;
}


/* 吹き出ししっぽの背景色用　*/
.baloon:before {
  border-top: solid 20px #fad296;
  top: 98%;
  z-index: 2;

}

/* 吹き出ししっぽの枠線色用　*/
.baloon:after {
  border-top: solid 20px #8f5a0a;
  top: 100%;
  transform: translateY(5px);
  z-index: 1;

}